@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Patrick Hand', cursive, 'Open Sans', sans-serif;
    background-color: aqua;
  }

/* ---- Game Area ---- */

.game-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 15vh 70vh;
    grid-template-areas: "header" "score-area" "card-deck";
    width: 100%;
    height: 100vh;
    justify-items: center;
    align-items: center;
   /* margin: 5px 0 10px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 5px;
    justify-content: center;
    perspective: 1000px; */
}

/* ---- Header ---- */

header {
    grid-area: header;
    margin: 15px 0;
    letter-spacing: 2px;
    font-size: 2em;
    /*
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    position: relative; */
}

.header {
    margin-top: 10px;
    text-align: center;
}

.audio-control {
    position: absolute;
    top: 15px;
    right: 40px;
    transform: scale(1.4);
}

.score-area {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, auto);
    grid-template-areas: "moves-header moves-counter timer timer-header";
    width: 70%;
    justify-items: center;
    align-items: center;
    padding: 20px;
} 

.moves {
    grid-area: moves;
}

.moves-header {
    font-size: 1rem;
}

.timer {
    grid-area: timer;
}

.card-deck {
    grid-area: card-deck;
    background: linear-gradient(to bottom, #88ebb3, #04b536);
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "card card card card"
    "card card card card"
    "card card card card"
    "card card card card";
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 60%;
    grid-gap: 15px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73,0.5);
}
