@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Patrick Hand', cursive, 'Open Sans', sans-serif;
    background-color: aqua;
  /*  background-image: ;
    background-attachment: fixed;
    background-size: cover; */
}