@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Patrick Hand', cursive, 'Open Sans', sans-serif;
    background-color: aqua;
  }

/* ---- Game Area ---- */

.game-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 15vh 70vh;
    grid-template-areas: "header" "score-area" "card-deck";
    width: 100%;
    height: 100vh;
    justify-items: center;
    align-items: center;
   /* margin: 5px 0 10px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 5px;
    justify-content: center;
    perspective: 1000px; */
}
/*
.score-area {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, auto);
    grid-template-areas: "moves-header moves-counter timer timer-header";
    width: 70%;
    justify-items: center;
    align-items: center;
    padding: 20px;
} */

/* ---- Header ---- */

header {
    grid-area: header;
    margin: 15px 0;
    letter-spacing: 2px;
    /*
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    position: relative; */
}

/*
.page-title {
    color: black;
    font-weight: normal;
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
} */

.audio-control {
    position: absolute;
    top: 15px;
    right: 40px;
    transform: scale(1.4);
}